<div class="banner banner-cocktail" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path @cocktail.photo, height: 300, width: 400, crop: :fill %>')">
  <div class="banner-content">
    <h1><%= @cocktail.name %></h1>
  </div>
</div>


<div class="container">
  <h2>Ingredients</h2>
  <div class="row">
  <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
  <div class="row">
    <% @cocktail.doses.each do |dose| %>
      <ul>
        <li>
          <td><%= dose.description %></td>
          <td><%= dose.ingredient.name %></td>
          <td><%= link_to '', dose, method: :delete, data: { confirm: 'Are you sure?' }, class:"fas fa-trash-alt" %></td>
        </li>
      </ul>
    <% end %>
  </div>
  </div>
</div>

<div class="container">
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :description %>
      <%= f.association :ingredient %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>

<div class="form"><%= link_to 'Back', cocktails_path %></div>

